In [56]:
# import des librairies
import numpy as np
import pandas as pd
import plotly as px

# preprocessing 
import re

In [57]:
# import des données
df = pd.read_csv("../data/silver/silver_data.csv")
df.head()

,jobs,description,loc,datePosted,workhours,salary,contract_type,experience,diploma,skills,qualifications,industry,company,size,company_description,tools,ID_dep,ville,date
0,Data Engineer sénior (F/H) CDI (H/F),"En tant que Data Engineer chez Quantmetry, vou...",75 - PARIS 08,Actualisé le 12 juillet 2023,38H Travail en journée,40000.0 - 50000.0,Contrat à durée indéterminée,5 ans,NaN,"concevoir et gérer un projet, concevoir un log...",Cadre,Conseil pour les affaires et autres conseils d...,QUANTMETRY,100 à 199 salariés,Pure player en Data et Intelligence Artificiel...,NaN,75,PARIS 08,2023/07/12
1,Data Consultant Stratégie Sénior (H/F),Nous recrutons des personnes avec une appétenc...,75 - PARIS 08,Actualisé le 12 juillet 2023,35H Travail en journée,3100.0 - 5000.0,Contrat à durée indéterminée,5 ans,NaN,"analyser les résultats d'un projet, décliner l...",Cadre,Conseil pour les affaires et autres conseils d...,QUANTMETRY,100 à 199 salariés,Pure player en Data et Intelligence Artificiel...,NaN,75,PARIS 08,2023/07/12
2,Chef de projets Performance Durable/Energie/Da...,Intégré(e) au sein de la Direction Performance...,92 - ASNIERES SUR SEINE,Actualisé le 13 juillet 2023,35H Travail en journée,NaN,Contrat à durée indéterminée,3 ans,NaN,contrôler et faire appliquer le respect de dis...,Employé qualifié,Activités des sièges sociaux,NEXITY,250 à 499 salariés,Nexity est aujourd hui leader sur les différen...,tableau,92,ASNIERES SUR SEINE,2023/07/13
3,Ingénieur Data H/F,"Vos missions\nAu sein de projets Agile Scrum, ...",66 - PERPIGNAN,Actualisé le 19 juillet 2023,35H Travail en journée,NaN,Contrat à durée indéterminée,5 ans,NaN,"concevoir et gérer un projet, concevoir un log...",Cadre,"Autres intermédiaires du commerce en denrées, ...",SOCIETE DE DISTRIBUTION DE PRODUITS MARA,100 à 199 salariés,"Azura, est un groupe familial, en forte croiss...","tableau, sas",66,PERPIGNAN,2023/07/19
4,Data Engineer pour la Qualité Totale H/F (H/F),Vous êtes Rattaché(e) au Responsable de l'équi...,92 - ST CLOUD,Actualisé le 19 juillet 2023,35H Travail en journée,38000.0 - 70000.0,Contrat à durée indéterminée,5 ans,NaN,"application web, déterminer des mesures correc...",Cadre,Activités des sièges sociaux,DASSAULT AVIATION,Non employeur (pas de salarié au cours de l'an...,Dassault Aviation,NaN,92,ST CLOUD,2023/07/19

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3299 entries, 0 to 3298
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobs                 3299 non-null   object
 1   description          3299 non-null   object
 2   loc                  999 non-null    object
 3   datePosted           999 non-null    object
 4   workhours            604 non-null    object
 5   salary               487 non-null    object
 6   contract_type        3299 non-null   object
 7   experience           3299 non-null   object
 8   diploma              116 non-null    object
 9   skills               280 non-null    object
 10  qualifications       1545 non-null   object
 11  industry             1633 non-null   object
 12  company              1743 non-null   object
 13  size                 2171 non-null   object
 14  company_description  1817 non-null   object
 15  tools                1673 non-null   object
 16  ID_dep               3299 non-null   object
 17  ville                2936 non-null   object
 18  date                 3299 non-null   object
dtypes: object(19)
memory usage: 489.8+ KB

## Preprocessing

In [76]:
def add_contract_type(df):
    df["contract_type"] = df["contract_type"].str.replace('contrat à durée indéterminée', 'CDI', flags=re.IGNORECASE)
    df["contract_type"] = df["contract_type"].str.replace('contrat à durée déterminée', 'CDD', flags=re.IGNORECASE)

    def extract_duration(row):
        match = re.search(r'(\d+\s*\D+)', row['contract_type'])
        if match:
            return match.group(1).strip()
        else:
            if 'CDI' in row['contract_type']:
                return 'Indéterminé'
            else:
                return 'non renseignée'

    df['contract_type_duration'] = df.apply(extract_duration, axis=1)

    def get_contract_label(contract):
        if re.search(r'CDI', contract, re.IGNORECASE):
            return 'CDI'
        elif re.search(r'CDD', contract, re.IGNORECASE):
            return 'CDD'
        elif re.search(r'intérim|intérimaire', contract, re.IGNORECASE):
            return 'Mission intérimaire'
        elif re.search(r'Franchise', contract, re.IGNORECASE):
            return 'Franchise'
        elif re.search(r'profession libérale', contract, re.IGNORECASE):
            return 'Profession libérale'
        return None

    df['contract_type_label'] = df['contract_type'].apply(get_contract_label)
    
    def get_contract_number(contract):
        if 'CDI' in contract:
            return 1
        elif 'CDD' in contract:
            return 2
        elif 'Mission intérimaire' in contract:
            return 3
        elif 'Franchise' in contract:
            return 5
        elif 'Profession libérale' in contract:
            return 6
        return None

    df['contract_type_number'] = df['contract_type_label'].apply(get_contract_number)

    return df

In [69]:
df = add_contract_type(df)

In [70]:
df.head(2)

,jobs,description,loc,datePosted,workhours,salary,contract_type,experience,diploma,skills,...,company,size,company_description,tools,ID_dep,ville,date,contract_type_duration,contract_type_label,contract_type_number
0,Data Engineer sénior (F/H) CDI (H/F),"En tant que Data Engineer chez Quantmetry, vou...",75 - PARIS 08,Actualisé le 12 juillet 2023,38H Travail en journée,40000.0 - 50000.0,CDI,5 ans,NaN,"concevoir et gérer un projet, concevoir un log...",...,QUANTMETRY,100 à 199 salariés,Pure player en Data et Intelligence Artificiel...,NaN,75,PARIS 08,2023/07/12,None,CDI,1
1,Data Consultant Stratégie Sénior (H/F),Nous recrutons des personnes avec une appétenc...,75 - PARIS 08,Actualisé le 12 juillet 2023,35H Travail en journée,3100.0 - 5000.0,CDI,5 ans,NaN,"analyser les résultats d'un projet, décliner l...",...,QUANTMETRY,100 à 199 salariés,Pure player en Data et Intelligence Artificiel...,NaN,75,PARIS 08,2023/07/12,None,CDI,1

In [71]:
df.isnull().sum()

jobs                         0
description                  0
loc                       2300
datePosted                2300
workhours                 2695
salary                    2812
contract_type                0
experience                   0
diploma                   3183
skills                    3019
qualifications            1754
industry                  1666
company                   1556
size                      1128
company_description       1482
tools                     1626
ID_dep                       0
ville                      363
date                         0
contract_type_duration    2932
contract_type_label          0
contract_type_number         0
dtype: int64

In [72]:
df["contract_type_label"].value_counts()

contract_type_label
CDI                    2116
Profession libérale     605
CDD                     317
Franchise               211
Mission intérimaire      50
Name: count, dtype: int64

In [73]:
df["contract_type_duration"].count()

367

In [74]:
Nan_df = df.loc[df["contract_type_duration"].isnull()]
Nan_df

,jobs,description,loc,datePosted,workhours,salary,contract_type,experience,diploma,skills,...,company,size,company_description,tools,ID_dep,ville,date,contract_type_duration,contract_type_label,contract_type_number
0,Data Engineer sénior (F/H) CDI (H/F),"En tant que Data Engineer chez Quantmetry, vou...",75 - PARIS 08,Actualisé le 12 juillet 2023,38H Travail en journée,40000.0 - 50000.0,CDI,5 ans,NaN,"concevoir et gérer un projet, concevoir un log...",...,QUANTMETRY,100 à 199 salariés,Pure player en Data et Intelligence Artificiel...,NaN,75,PARIS 08,2023/07/12,None,CDI,1
1,Data Consultant Stratégie Sénior (H/F),Nous recrutons des personnes avec une appétenc...,75 - PARIS 08,Actualisé le 12 juillet 2023,35H Travail en journée,3100.0 - 5000.0,CDI,5 ans,NaN,"analyser les résultats d'un projet, décliner l...",...,QUANTMETRY,100 à 199 salariés,Pure player en Data et Intelligence Artificiel...,NaN,75,PARIS 08,2023/07/12,None,CDI,1
2,Chef de projets Performance Durable/Energie/Da...,Intégré(e) au sein de la Direction Performance...,92 - ASNIERES SUR SEINE,Actualisé le 13 juillet 2023,35H Travail en journée,NaN,CDI,3 ans,NaN,contrôler et faire appliquer le respect de dis...,...,NEXITY,250 à 499 salariés,Nexity est aujourd hui leader sur les différen...,tableau,92,ASNIERES SUR SEINE,2023/07/13,None,CDI,1
3,Ingénieur Data H/F,"Vos missions\nAu sein de projets Agile Scrum, ...",66 - PERPIGNAN,Actualisé le 19 juillet 2023,35H Travail en journée,NaN,CDI,5 ans,NaN,"concevoir et gérer un projet, concevoir un log...",...,SOCIETE DE DISTRIBUTION DE PRODUITS MARA,100 à 199 salariés,"Azura, est un groupe familial, en forte croiss...","tableau, sas",66,PERPIGNAN,2023/07/19,None,CDI,1
4,Data Engineer pour la Qualité Totale H/F (H/F),Vous êtes Rattaché(e) au Responsable de l'équi...,92 - ST CLOUD,Actualisé le 19 juillet 2023,35H Travail en journée,38000.0 - 70000.0,CDI,5 ans,NaN,"application web, déterminer des mesures correc...",...,DASSAULT AVIATION,Non employeur (pas de salarié au cours de l'an...,Dassault Aviation,NaN,92,ST CLOUD,2023/07/19,None,CDI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3294,"Data Engineer - Système, réseaux, données",Descriptif du poste:\n\n\nAu sein d'une équipe...,NaN,NaN,NaN,NaN,CDI,Débutant accepté,NaN,NaN,...,MICHAEL PAGE INTERNATIONAL FRANCE,"Notre client est un Groupe régional, fort de s...","Notre client est un Groupe régional, fort de s...",NaN,44,NANTES,2023/08/31,None,CDI,1
3295,Data manager,"Espace-Freelance, réseau de consultants indépe...",NaN,NaN,NaN,NaN,Profession libérale,Expérience exigée de 2 An(s),NaN,NaN,...,Espace Freelance,NaN,NaN,NaN,59,VILLENEUVE D ASCQ,2023/08/31,None,Profession libérale,6
3296,Développeur / Développeuse Big Data,Nous recherchons pour l'un de nos clients un(e...,NaN,NaN,NaN,NaN,Profession libérale,Expérience exigée de 5 An(s),NaN,NaN,...,ALLEGIS GROUP,NaN,NaN,"gitlab, docker, kubernetes, grafana, prometheu...",75,PARIS 01,2023/08/31,None,Profession libérale,6
3297,Développeur / Développeuse Big Data,Contexte / Objectifs : \nAu sein de la platefo...,NaN,NaN,NaN,NaN,Profession libérale,Expérience exigée de 5 An(s),NaN,NaN,...,HN SERVICES,NaN,NaN,"power bi, informatica",75,PARIS 01,2023/08/31,None,Profession libérale,6
3298,Développeur / Développeuse Big Data,Ton quotidien chez Komeet sera rythmé par :\n\...,NaN,NaN,NaN,36000.0 - 75000.0,CDI,Expérience exigée,NaN,NaN,...,KOMEET TECHNOLOGIES,NaN,NaN,NaN,75,PARIS 01,2023/08/31,None,CDI,1

In [66]:
df["contract_type_number"].unique()

array([1, 3, 2, 5, 6])

In [67]:
df["contract_type"].unique()

array(['CDI', 'Mission intérimaire - 1 Mois', 'CDD - 4 Mois',
       'CDD - 24 Mois', 'CDD - 10 Mois', 'CDD - 1 Mois', 'CDD - 26 Mois',
       'CDD - 12 Mois', 'CDD - 6 Mois', 'Mission intérimaire - 5 Mois',
       'Mission intérimaire - 6 Mois', 'CDD - 0 Mois', 'Franchise',
       'CDD - 36 Mois', 'Mission intérimaire - 18 Mois', 'CDD - 3 Mois',
       'Mission intérimaire - 12 Mois', 'Profession libérale',
       'Mission intérimaire - 3 Mois', 'CDD - 25 Mois',
       'Mission intérimaire - 11 Mois', 'CDD - 14 Mois', 'CDD - 8 Mois',
       'CDD - 2 Mois', 'CDD - 5 Mois', 'CDD - 7 Mois', 'CDD - 9 Mois',
       'Mission intérimaire - 2 Mois', 'CDD - 18 Mois', 'CDD - 30 Mois',
       'CDD - 16 Mois', 'Mission intérimaire - 24 Mois'], dtype=object)

## Visualisations